/* =========== applies to the complete page ================ */

body {
    margin: 0px;
    background: #000000;
    font-family: 'Poppins', sans-serif;
}

/* ===================== styles for nav =============== */

#container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: rgb(0, 0, 0);
    height: 12vh;
    font-size: 20px;
    align-items: center;
}

#logo{
    color: white;
    display: flex;
    justify-content: space-between;
}

.fa-airbnb{
    font-size: 2.5rem;
    margin-right: 8px;
}

#link {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

#link .nav-anchor {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding-top: 10px;
}

.nav-anchor{
    position: relative;
    text-decoration: none;
    line-height: 30px;
}

.nav-anchor:before, .nav-anchor:after{
    content: '';
    position: absolute;
    transition: transform .5s ease;
}

.nav-anchor:before{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0);
}

.nav-anchor:hover:before {
    transform: scaleX(1);
  }

#profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.become-host{
    border: none;
    background: transparent;
    border-radius: 25vh;
    font-size: 1rem;
    color: white;
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.become-host:hover{
    background: rgb(71, 67, 67);
    color: white;
}

#user-box{
    display: flex;
    height: 40px;
    width: 80px;
    background-color: white;
    margin: 4px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.fa-bars{
    cursor: pointer;
    margin-right: 5px;
    font-size: 1rem;
}

.user-icon{
    cursor: pointer;
    margin-left: 5px;
    font-size: 2rem;
}

#search-bar {
    background-color: white;
    width: 70%;
    height: 68px;
    margin: auto ;
    /* margin-top: 1rem; */
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    overflow: hidden;
}

.search-option{
    height: 60%;
    width: 15%;
    cursor: pointer;
}

.label {
    display: block;
    font-size: 0.75rem;
    color: #111111;
    font-weight: bold;
}

.search-inputs {
    padding: 16px 24px;
    text-decoration: none;
}

input {
    border: none;
    display: block;
    outline: none;
}

.search-button {
    flex: 0 0 auto;
    padding: 8px 8px 8px 0;
}

.search-button button {
    font-size: 16px;
    width: 48px;  
    height: 48px;
    border-radius: 30px;
    border: none;
    background: rgba(255, 7, 61, 0.918);
    color: white;
    text-align: center;
    margin-right: -2vw;
}

.search-button button:hover{
    background: rgb(221, 17, 99);
}

.fa-search{
    font-size: large;
}

#guests-option{
    display: flex;
    justify-content: space-between;
}

.main-screen{
    background: black;
    margin-bottom: 100px;
}

#card-1{
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
}

#image-text-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 36px;
}

#not-sure{
    font-size: 2.5rem;
    line-height: 2.5;
}

#go-somewhere{
    border-radius: 1.8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background: white;
}

#go-somewhere>p{
    font-size: 1.2rem;
    background: linear-gradient(to right, #ff0080 0%, #7414e9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin-bottom: -0px;
    font-weight: 500;
    text-transform: none;
}

.second-section{
    background: white;
    /* padding-bottom: 80px; */
}

.inspiration{
    padding-top: 100px;
    margin-left: 6vw;
    font-weight: 600;
    font-size: 2rem;
}

#card-2{
    width: 90%;
    margin: auto;
    margin-top: 0.5rem;
}

.h-100{
    border-radius: 1rem;
    overflow: hidden;
    padding-bottom: 12vh;
    border: none;
    /* background: rgb(250, 14, 26); */
}

.card-text{
    font-size: small;
}

.card-body > .card-title{
    font-weight: 600;
    font-size: 1.5rem;
}

#color-4{
    background: #cc2d4a;
}

#color-3{
    background: #bc1a6e;
}

#color-2{
    background: #de3151;
}

#color-1{
    background: #d93b30;
}

.card-body{
    color: white;
}

.third-section{
    background: white;
}

.third-section-content{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
}

#third-section-content-inner{
    margin: 15px;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
}

#image-text-container-third-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
    margin-left: 25px;
}

#card-title-third-section{
    font-weight: 600;
    font-size: 2.5rem;
    /* width: 50%; */
}

#button-third-section{
    background: white;
    color: black;
    border: none;
    border-radius: 0.5rem;
    font-size: 300;
    font-weight: 600;
    margin-top: 20px;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
}

.fourth-section{
    background: white;
}

.dummy-text{
    color: white;
    user-select: none;
}

#fourth-section-content-inner{
    margin-top: 2rem;
    background: white;
    border: none;
    border-radius: 0px;
}

.card-img{
    border-radius: 0px;
}

#image-text-container-fourth-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 40px;
}

#card-title-fourth-section{
    font-weight: 700;
    font-size: 4rem;
    width: 50%;
}

#button-fourth-section{
    background: white;
    color: black;
    border: none;
    border-radius: 0.5rem;
    font-size: 300;
    font-weight: 600;
    margin-top: 20px;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
}

#footer-container{
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.footer{
    margin-top: -50px;
    margin-bottom: -50px;
    padding-top: 50px;
    border-top: 50px solid white;
}

#footer-container-inner{
    max-width: 90%;
    margin: auto;
}

.mb-3{
    font-weight: 600;
    font-size: 14px;
}

.mb-1{
    font-size: 14px;
    font-weight: 100;
    line-height: 30px;
}

.hr-footer{
    width: 90%;
    margin: auto;
}

#footer-end{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    font-size: 14px;
}

.social-icons{
    font-size: larger;
}

#social-icons-text{
    font-size: 14px;
}

@media only screen and (max-width: 576px) {
    .hide-on-phone{
        display: none;
    }

    .third-section-content{
        flex-direction: column;
    }
}